/node_modules
/public/hot
/public/storage
/public/assets
/public/css
/public/data
/public/fonts
/public/images
/public/js
/public/vendors
/storage/*.key
/node_modules
/vendor
/docker
.env.backup
.phpunit.result.cache
.env
.htaccess
.env.example
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
supervisord.log
supervisord.pid
