/*=========================================================================================
    File Name: main-menu.scss
    Description: Styles for menu components, main navigation and menu itself.
    ----------------------------------------------------------------------------------------
    Item Name: Bytepillar
Version: 1.0
Author: Amit Sharma
==========================================================================================*/

